<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="9.0.0" targetFramework="net472" />
  <package id="Autoupdater.NET.Official" version="1.8.6" targetFramework="net472" />
  <package id="Azure.Core" version="1.38.0" targetFramework="net48" />
  <package id="Azure.Identity" version="1.11.4" targetFramework="net48" />
  <package id="BouncyCastle.Cryptography" version="2.5.0" targetFramework="net48" />
  <package id="Cfee.CrystalReports.Log4Net" version="13.0.3501.1" targetFramework="net461" />
  <package id="CrystalDecisions.Windows.Forms" version="1.0.0" targetFramework="net48" />
  <package id="CrystalReports" version="13.0.5.891" targetFramework="net461" />
  <package id="CrystalReports.AxShockwaveFlashObjects" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.Engine" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.ClientDoc" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.CommLayer" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.CommonControls" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.CommonObjectModel" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.Controllers" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.CubeDefModel" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.DataDefModel" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.DataSetConversion" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.ObjectFactory" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.Prompting" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.ReportDefModel" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.XmlSerialize" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportSource" version="13.0.4000" targetFramework="net461" />
  <package id="CrystalReports.Shared" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ShockwaveFlashObjects" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.Windows.Forms" version="13.0.4000" targetFramework="net461" />
  <package id="DeltaCompressionDotNet" version="1.1.0" targetFramework="net461" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="log4net" version="2.0.12" targetFramework="net48" />
  <package id="MailKit" version="4.10.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.1" targetFramework="net48" />
  <package id="Microsoft.Data.SqlClient" version="5.1.6" targetFramework="net48" />
  <package id="Microsoft.Data.SqlClient.SNI" version="5.1.1" targetFramework="net48" />
  <package id="Microsoft.Identity.Client" version="4.61.3" targetFramework="net48" />
  <package id="Microsoft.Identity.Client.Extensions.Msal" version="4.61.3" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Abstractions" version="6.35.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.35.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Logging" version="6.35.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Protocols" version="6.35.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="6.35.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.35.0" targetFramework="net48" />
  <package id="Microsoft.ReportViewer" version="11.0.3366.16" targetFramework="net461" />
  <package id="Microsoft.SqlServer.ConnectionInfo.dll" version="1.0.1" targetFramework="net472" />
  <package id="Microsoft.SqlServer.Management.Sdk.Sfc.dll" version="1.0.1" targetFramework="net472" />
  <package id="Microsoft.SqlServer.Smo.dll" version="1.0.1" targetFramework="net472" />
  <package id="Microsoft.SqlServer.SmoExtended.dll" version="1.0.1" targetFramework="net472" />
  <package id="Microsoft.SqlServer.SqlManagementObjects" version="172.61.0" targetFramework="net48" />
  <package id="Microsoft.SqlServer.Types" version="160.1000.6" targetFramework="net472" />
  <package id="Microsoft.Web.WebView2" version="1.0.2478.35" targetFramework="net472" />
  <package id="MimeKit" version="4.10.0" targetFramework="net48" />
  <package id="Mono.Cecil" version="0.11.2" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="SharpCompress" version="0.17.1" targetFramework="net461" />
  <package id="Splat" version="1.6.2" targetFramework="net461" />
  <package id="squirrel.windows" version="2.0.1" targetFramework="net472" />
  <package id="System.Buffers" version="4.6.0" targetFramework="net48" />
  <package id="System.ClientModel" version="1.0.0" targetFramework="net48" />
  <package id="System.Configuration.ConfigurationManager" version="6.0.1" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.1" targetFramework="net48" />
  <package id="System.Formats.Asn1" version="8.0.1" targetFramework="net48" />
  <package id="System.IdentityModel.Tokens.Jwt" version="6.35.0" targetFramework="net48" />
  <package id="System.IO.FileSystem.AccessControl" version="5.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.6.0" targetFramework="net48" />
  <package id="System.Memory.Data" version="1.0.2" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.ProtectedData" version="4.7.0" targetFramework="net48" />
  <package id="System.Security.Permissions" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="4.7.2" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="Unofficial.Microsoft.SQLServer.SMO.2014" version="12.0.2000.8" targetFramework="net472" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net461" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net461" />
  <package id="Zen.Barcode.Rendering.Framework" version="3.1.10729.1" targetFramework="net461" />
</packages>